Exercise 2.1: Another ball dropped from a tower

A ball is again dropped from a tower of height $h$ with initial velocity 0. Write a program  that asks  the user  to enter the height in meters of the tower and then calculates and prints  the time the ball takes until it hits the ground, ignoring air resistance. Use your program to calculate the time for a ball dropped from a 100 m high tower.

Using Newton's second law:
$$ma=-mg,$$
we solve the differential equation integrating over $t$ and using the initial conditions $v_0=0$ and $z_0=h$. So
$$z=-\frac{1}{2}g t^2 + h.$$
We are asked to calculate the time it takes the ball to hit the ground, this means $z(\tau)=0$:
$$-h=-\frac{1}{2}g\tau^2,$$
solving for $\tau$:
$$\tau=\sqrt{\frac{2h}{g}}$$

In [3]:
#We need h
h = float(input("Enter h: "))
#acceleration of gravity
g = 9.81
#We calculate t
t=(2*h/g)**(1/2)
print(t)

Enter h: 100
4.515236409857309

Exercise 2.2
A satellite is to be launched into a circular orbit around the Earth so that it orbits the planet once every $T$ seconds.
a) Show that the altitude $h$ above the Earth's surface that the satellite must have is 
$$h=\left(\frac{GMT^2}{4\pi^2}\right)^{1/3}-R,$$
where $G=6.67\times 10^{-11}m^3kg^{-1}s^{-2}$ is Newton's gravotational constant, $M=5.97\times 10^{24}$ kg is the mass of the Earth, and $R=6371$ km is its radius.

We use Newton's second law:
$$ma=G\frac{Mm}{r^2}.$$
For a circular orbit with period $T$:
$$a=r\omega^2=r \left(\frac{2\pi}{T}\right)=\frac{r 4pi^2}{T^2}.$$
So,
$$r=\left(\frac{GMT^2}{4\pi^2}\right)^{1/3},$$
or
$$h=\left(\frac{GMT^2}{4\pi^2}\right)^{1/3}-R.$$

b) Write a program that asks the user to enter the desired value of $T$ and then calculates and prints out the correct altitude in meters

In [6]:
#We define the constants
G = 6.67*(10**(-11))
M = 5.97*(10**(24))
R = 6371000 #in meters
pi = 3.1416
#We ask for T
T = float(input("Enter the desired value of T: "))
#We calculate h
h = ((G*M*(T**2))/(4*(pi**2)))**(1/3) - R
#Print h
print(h, "m")

Enter the desired value of T: 1
-6349393.746574965 m

c) Use your program to calculate the altitudes of satellites that orbit the Earth once a day (so-called "geosynchronous" orbit), once every 90 minutes, and once every 45 minutes. What do you conclude from the last of these calculations?

In [7]:
T = 24*60*60 #1 day -> s
#We calculate h
h = ((G*M*(T**2))/(4*(pi**2)))**(1/3) - R
#Print h
print(h, "m")

35855844.34638021 m

In [8]:
T = 90*60 #90 min -> s
#We calculate h
h = ((G*M*(T**2))/(4*(pi**2)))**(1/3) - R
#Print h
print(h, "m")

279311.257829844 m

In [9]:
T = 45*60 #45 min -> s
#We calculate h
h = ((G*M*(T**2))/(4*(pi**2)))**(1/3) - R
#Print h
print(h, "m")

-2181566.4289536644 m

The last calculation is impossible, this means the satellite or whatever it is is inside the Earth and still orbiting.

d) Technically a geosynchronous satellite is one that orbits the Earth once per sidereal day, which is 23.93 hours, not 24 hours. Why is this? And how much difference will it make to the altitude of the satellite?

In [10]:
T = 23.93*60*60 #23.93 h -> s
#We calculate h
h = ((G*M*(T**2))/(4*(pi**2)))**(1/3) - R
#Print h
print(h, "m")

35773696.62816557 m

In [11]:
#The difference is
print(35855844.34638021-35773696.62816557, "m")

82147.71821463853 m

Exercise 2.3: Write a program to perform the inverse operation to that of Example 2.2. That is, ask the user for the cartesian coordinates $x,y$ of a point in two dimensional space, and calculate and print the corresponding polar coordinates, with the angle $\theta$ given in degrees.

We have:
$$r^2=x^2+y^2,$$
and 
$$\frac{y}{x}=\tan\theta.$$
So we have the special case when $x=0 \implies \theta=\pi/2, 3\pi/2$. Of course we have to add that $\tan \theta$ is not one to one in the interval $\theta \in [0,2\pi).$ So we have:
$$\theta=\arctan \frac{y}{x}, x> 0, y>0$$
$$\theta=\arctan \frac{y}{x}+\pi, x< 0, y>0$$
$$\theta=\arctan \frac{y}{x}+\pi, x> 0, y>0$$
$$\theta=\arctan \frac{y}{x}+2\pi, x> 0, y>0$$
$$\theta=\pi/2, x=0,y>0$$
$$\theta=3\pi/2, x=0, y<0$$

In [16]:
from math import sqrt, atan, pi
#We ask for the x and y coordinates
x = float(input("Introduce the x coordinate: "))
y = float(input("Introduce the y coordinate: "))
#We calculate r
r = sqrt(x**2 + y**2)
#Now we calculate theta. So in the text we haven't seen if statements and that kind of stuff so will use atan
theta = atan(y/x) #with x =! 0
print(r)
print(theta*180/pi)

Introduce the x coordinate: 1
Introduce the y coordinate: 2
2.23606797749979
63.43494882292201